:root
{
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"]
{
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}


body
{
    color: #f1f1f1;
    background-color: #0d0f31;
    padding-right: 15%;
    max-width: 70%;
}

a
{
    color: #46BDFF
}

/*
#table-of-contents
{
    right: 0;
    top: 0;
    position: fixed;
    float: left;
    max-width: 30%;
    height: 100%;
}
*/

.src
{
    background-color: #0d0f31;
    box-shadow: none;
}

pre.src::before
{
    color: #f1f1f1;
    background-color: #0d0f31;
}
